*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    background-color: black;
    
}

.container {
    max-width: 800px;
    margin: auto;
    display: grid;
    height: 100vh;
    grid: auto auto auto/auto auto auto;
    gap: 15px;
    justify-content:center ;
    align-content:center ;
    cursor: pointer;
}

.tab {
    width: 150px;
    height: 150px;
    background-color: white;
    transition-property: width;
    transition-duration: 1s;
}

.tab:hover{
    border: 4px solid red;
}

#playerOne {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:600px) {
    .container {
        max-width: 400px;
    }

    .tab{
        width: 100px;
        height: 100px;
    }
}